body {
    background: #000;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 100px;
    height: 75px;
}